@page
@model RazorPage_Identity.Pages.HRManagement

@{
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1 class="alert alert-warning"> HR Management page </h1>
</div>
</body>
</html>