@page
@model RazorPage_Identity.Pages.Account.AccessDenied

@{
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2 class="alert alert-danger">ACCESS DENIED</h2>
</div>
</body>
</html>